<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>basic layout</title>
    <!-- vuetify.js에 필요한 파일 링크 연결 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap|Material+Icons">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@2.6.13/dist/vuetify.css">
<style>
    .border_style {
        border: 1px solid tomato;
        background: #9C0;
    }
</style>
</head>
<body>
    <div id="app">
        <!-- 첫 화면 시작은 v-app 엘리먼트 사용 -->
        <v-app>
            <v-main>
                <v-container>
                    <!-- 한 행은 12개의 열이 기준 -->
                    <v-row class="text-center">
                        <v-col cols="12" class="border_style">xs12</v-col>
                        <v-col cols="6" class="border_style">xs6</v-col>
                        <v-col cols="3" class="border_style">xs3</v-col>

                        <!-- 현재 열의 개수가 9개인데  -->
                        <v-col cols="4" class="border_style">xs4</v-col>
                        <v-col cols="1" v-for="item in 12" v-binary="item.id" class="border_style">xs1</v-col>
                    </v-row>
                    <br>
                    <!-- 총 20개 생성. 열의 개수가 12개를 넘으면 자동으로 줄바꿈 -->
                    <v-row class="text-center">
                        <v-col cols="1" v-for="item in 20" v-bind:key="item.id" class="border_style">xs1 </v-col>
                    </v-row>
                    <v-contaier fluid>
                        <v-row class="text-center">
                            <v-col sm="4" class="border_style">sm4</v-col>
                            <!-- offset으로 그리드 사이에 4개의 열 간격을 띄움 . 여백 // sm - 분기점!-->
                            <v-col sm="4" offset-sm="4" class="border_style">4</v-col>
                        </v-row>
                    </v-contaier>
                </v-container>
            </v-main>
        </v-app>
    </div>
     <!-- 필요한 Vue.js와 Vuetify.js의 자바스크립트 연결 -->
     <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vuetify@2.6.13/dist/vuetify.js"></script>
     <script>
         new Vue({
             el: '#app',
             vuetify: new Vuetify()
         })
     </script>
</body>
</html>